<%- include('./partials/header') -%>

<div class="jumbotron">
    <h1 class="display-4">Hey,this is bharath</h1>
    <p class="lead">Mailer is a simple user Authentification app </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus qui necessitatibus vero, veritatis rerum, maiores quo sit dolorem, in fuga dolore officia debitis doloribus magni voluptate repudiandae nesciunt. Rem, et.</p>
    <p class="lead">
      <% if(!currentUser){ %>

      <a class="btn btn-primary btn-lg" href="/register" role="button">sign up</a>
      <% } else{  %>
        <a class="btn btn-primary btn-lg" href="/logout" role="button">logout</a>
        <% } %>

    </p>
      

  </div>    <%- include('./partials/footer') -%>
